.gallery {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
}

.galleryItem {
  width: 320px;
  height: 240px;
}

@media only screen and (min-width: 648px) {
  .gallery {
    width: 648px;
  }
}

@media only screen and (min-width: 976px) {
  .gallery {
    width: 976px;
  }
}

@media only screen and (min-width: 1304px) {
  .gallery {
    width: 1304px;
  }
}
